<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center">
  <ion-icon class="forgot-icon" src="../../../assets/svg_icon/forgot.svg"></ion-icon>
  <h5 class="info-title">Please enter registered <br>
    Phone</h5>
  <p class="info-text">We will send a verification code to your <br>
    registered Phone</p>
  <form action="" #f="ngForm">
    <ion-input custom-input type="tel" placeholder="Phone" [(ngModel)]="data.phone_no" name="phone" required>
    </ion-input>

    <ion-button expand="block" class="ion-no-margin btn-general" (click)="doNext()" [disabled]="!f.valid">
      Next
    </ion-button>
  </form>
</ion-content>